@import '../../../../../constants/styleConstants.module.scss';

.route-display-simple-wrapper {
  width: 100%;

  .route-display-close-header-container {
    .route-display-close-header-wrapper {
      background-color: $standardControlBgColor;
      border: 2px solid $standardControlBgColor;
      margin-bottom: 3px;
      padding: 2px;
      input:checked {
        color: $contentColor;
      }
      .header-text {
        color: $contentColor;
      }
    }
  }
  .route-display-close-header-container {
    .route-display-close-header-wrapper {
      -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0%, 7% 0);
      clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0%, 7% 0);
      .header-text {
        padding-left: 1.5rem;
        font-size: $controlInfoTextFontSize;
        line-height: $controlInfoTextFontSize;
      }
    }
  }

  .route-display-content {
    border: 3px solid $standardControlBgColor;
    background-color: $inputFieldFocusBgColor;
    display: flex;
    .column-a {
      width: 20%;
      border-right: 1px solid $standardControlBgColor;
    }
    .column-b {
      width: 50%;
      border-right: 1px solid $standardControlBgColor;
      .left-top,
      .left-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        padding: 2px 5px;
      }
      .left-bottom {
        border-top: 1px solid $standardControlBgColor;
      }
    }

    .column-c {
      width: 30%;
      .left-top,
      .left-bottom {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        padding: 2px 5px;
      }
    }
  }
}
