@import '../../../../constants/styleConstants.module.scss';

.confirmation-modal {
  .modal-content {
    .modal-header {
      padding: 10px;
      .confirmation-message-header {
        display: flex;
        align-items: center;
        font-size: $standardTextSize;
        font-weight: 700;
        svg {
          height: 1.6rem;
        }
        label {
          margin-left: 10px;
          font-size: $standardTextSize;
        }
      }
    }

    .confirmation-message-modal-body {
      padding: 3px;
      .message-area {
        // display: flex;
        // align-items: center;
        // height: auto;
        max-height: 300px;
        overflow: auto;
        font-size: $standardSubTextsize;
        background: $basicBgColorInputField;
        border: 1px solid $standardTextColor;
      }
      .verification-message-content {
        padding-bottom: 6rem;
      }
      .message-content {
        padding: 2.5rem 0 2.5rem 0.5rem;
        white-space: pre-line;
      }
    }

    .footer-content {
      display: flex;
      justify-content: center;
      padding-top: 0.5rem;
      .verification-button {
        display: flex;
        .button-wrapper {
          margin: 0 1rem;
        }
      }
    }
    .verification-footer-content {
      padding-top: 1rem;
      .footer-button-section {
        display: flex;
        justify-content: flex-end;
      }
      .verification-button {
        display: flex;
        padding-top: 1rem;
        .button-wrapper {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
