/* font-family */
$font-family-ns-100: 'Noto Sans JP-100';
$font-family-ns-300: 'Noto Sans JP-300';
$font-family-ns-400: 'Noto Sans JP-400';
$font-family-ns-500: 'Noto Sans JP-500';
$font-family-ns-700: 'Noto Sans JP-700';
$font-family-ns-900: 'Noto Sans JP-900';

/* font-weight */
$font-weight-ns-100: 100;
$font-weight-ns-300: 300;
$font-weight-ns-400: 400;
$font-weight-ns-500: 500;
$font-weight-ns-700: 700;
$font-weight-ns-900: 900;


/* font-styles */
$font-style-normal: normal;
$font-style-italic: italic;
