@import '~bootstrap/scss/bootstrap';
@import '_typography';
html {
  font-size: 20px;
}
.breadCrumbDivFlex {
  position: relative;
  top: 20px;
  display: flex;
  .breadCrumbDivMain {
    width: 20%;
    display: flex;
  }
}

.FSHModalContent {
  .modal-body {
    height: 30rem;
  }
  .modal-content {
    margin: 0 auto;
    width: 80%;
    margin-top: 8%;
  }
  tbody {
    height: 23.5rem;
  }
  .table-No- {
    width: 8%;
  }
  .table-DEP-APO,
  .table-ARR-APO {
    width: 23%;
  }
  .table-Select {
    width: 12%;
  }
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
  background: #eeeeee;
  height: 38.25rem;
}

.modal-header {
  background: linear-gradient(
    89deg,
    rgba(0, 160, 155, 1) 0%,
    rgba(0, 160, 155, 1) 96%
  );
  height: 3.3rem;
}

.modal-content {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.button-Clear {
  float: right;
}

.button-Close {
  float: left;
}

.button-Select,
.button-Register {
  float: right;
}
