@import '~bootstrap/scss/bootstrap';
@import '_typography';
html {
  font-size: 20px;
}
.breadCrumbDivFlex {
  position: relative;
  top: 20px;
  display: flex;
  .breadCrumbDivMain {
    display: flex;
    width: 20%;
  }
}
